body {
    margin: 8px;
}

main {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#main-body {
    height: 80vh;
    display: flex;
}

#left-panel {
    display: inline-block;
    width: fit-content;
    margin-right: 4px;
    position: relative;
}

#right-panel {
    display: inline-block;
    flex: 1;
}

#foot-btns {
    position: absolute;
    left: 0;
    bottom: 8px;
}

table#main-board {
    width: 100%;
}

table#main-board td {
    border-left: 1px solid;
    max-width: 10%;
}

table#main-board td.no-swap {
    border-top: 1px #C4C4C4 dashed;
}

table#main-board td.swap {
    border-top: 1px solid;
}

table#main-board td.run-top {
    border-top: 1px red solid;
}

table#main-board td.run-left {
    border-left: 1px red solid;
}

table#main-board td.run-top-left {
    border-top: 1px red solid;
    border-left: 1px red solid;
}

table#main-board td.head-cell {
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
    vertical-align: top;
}

table#main-board td.foot-cell {
    padding-left: 2px;
    padding-right: 8px;
}

input[type=text].show-feet-input {
    display: block;
}

input[type=text].hide-feet-input {
    display: none;
}

table#main-board td.head-plus-cell {
    vertical-align: top;
    border-left: 1px grey dashed;
}

input[type=text] {
    border-width: 1px;
    border-style: none none solid none;
    outline: none;
    width: 75%;
    text-overflow: ellipsis;
}

input[type=text]:focus {
    background-color: #D9D9D9;
}

button {
    display: block;
    margin-top: 1px;
    background-color: #FAFBFC;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 10px;
}

button:hover {
    background-color: #F3F4F6;
    transition-duration: 0.1s;
}

#show-foot-btn {
    width: 100%;
}