body {
    margin: 8px;
    background: #F5F5F5;
}

main {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#main-body {
    height: 80vh;
    display: flex;
}

#left-panel {
    display: inline-block;
    width: fit-content;
    margin-right: 4px;
    position: relative;
}

.left-panel-els {
    margin-bottom: 16px;
}

#right-panel {
    display: inline-block;
    flex: 1;
}

#foot-btns {
    position: absolute;
    left: 0;
    bottom: 8px;
}

table#main-board {
    width: 100%;
    border-spacing: 0px;
}

table#main-board td {
    border-left: 1px solid;
    max-width: 10%;
}

table#main-board td.no-swap {
    border-top: 1px #C4C4C4 dashed;
}

table#main-board td.swap {
    border-top: 1px solid;
}

table#main-board td.run-top {
    border-top: 1px red solid;
    box-shadow: inset 0px 2px 0px 0px rgb(255 0 0 / 25%), 0px -2px 0px 0px rgb(255 0 0 / 25%);
}

table#main-board td.run-left {
    border-left: 1px red solid;
    box-shadow: inset 4px 0px 0px -2px rgb(255 0 0 / 25%), -2px 0px 0px 0px rgb(255 0 0 / 25%);
}

table#main-board td.run-top-left {
    border-top: 1px red solid;
    border-left: 1px red solid;
    box-shadow: inset 4px 4px 0px -2px rgb(255 0 0 / 25%), -2px -2px 0px 0px rgb(255 0 0 / 25%);
}

table#main-board td.cell-with-img {
    vertical-align: top;
    text-align: center;
}

table#main-board td.head-cell {
    padding-left: 2px;
    padding-right: 8px;
    padding-bottom: 4px;
    vertical-align: top;
}

table#main-board td.foot-cell {
    padding-left: 2px;
    padding-right: 8px;
}

input[type=text].show-foot-input {
    display: block;
}

input[type=text].hide-foot-input {
    display: none;
}

table#main-board td.foot-cell-with-img {
    text-align: center;
}

img.foot-cell-icon {
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
}

img.show-foot-cell-icon {
    display: block;
}

img.hide-foot-cell-icon {
    display: none;
}

table#main-board td.head-plus-cell {
    vertical-align: top;
    border-left: 1px grey dashed;
    cursor: pointer;
}

input[type=text] {
    border-width: 1px;
    border-style: none none solid none;
    outline: none;
    width: 75%;
    text-overflow: ellipsis;
    background-color: #F5F5F5;
}

input[type=text]:focus {
    background-color: #D9D9D9;
}

input[type=text].selected-input {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
}

button {
    display: block;
    margin-top: 1px;
    background-color: #FAFBFC;
    border: 1px solid #C4C4C4;
    border-radius: 6px;
    box-shadow: rgb(27 31 35 / 4%) 0 1px 0, rgb(255 255 255 / 25%) 0 1px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 10px;
}

button:hover {
    background-color: #F3F4F6;
    transition-duration: 0.1s;
}

#light-dark-btn {
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    background-color: #FAFBFC;
}

#light-dark-btn-img {
    width: 24px;
    height: 24px;
    /* rotate fill side at the bottom */
    transform: rotate(-90deg);
    transition: transform 0.8s;
}

#show-foot-btn {
    width: 100%;
}
